.home {
    font-family: 'glyph-correction', STShusong, 'Noto Serif SC', serif;
    h1 {
        font-family: 'glyph-correction', 'Noto Serif SC', serif;
    }
    .motto {
        font-family: 'glyph-correction', STKaiti, 'Noto Serif SC', serif;
    }
    .keywords {
        font-size: 90%;
        font-family: 'glyph-correction', STFangsong, 'Noto Serif SC', serif;
    }
}

th, dt {
    font-family: 'glyph-correction', 'EB Garamond', 'Noto Serif SC', serif;
}

body, .back-to-top, ::-webkit-scrollbar-track {
    background-color: #eceff1;
}
.list-item ::before {
    border-color: #eceff1;
}

.main {
    padding-top: 5em;
}
.single {
    padding-bottom: 20em;
}

.menu {
    font-size: 85%;
    padding: 0.3em 0 0.1em;
    background-color: #fff;
}

.menu-item {
    margin: 0 1.618em;
}

.single .main-inner {
    margin-top: 7em;
}
.list-group {
    margin-top: -2em;
}
.post-title {
    margin-top: 0;
}
.post-body {
    margin-top: 3em !important;
}

.post {
    background-color: #fcfaf2;
    padding: 6em;
    margin: -6em;
}

.back-to-top {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 6.2em;
    left: 0;
    font-size: 80%;
    padding-top: 0.3em;
}

.footer {
    color: #ccc;
    background-color: #000;
    font-size: 80%;
    a {
        color: #ccc;
        &:hover {
            color: #999;
        }
    }
}
.footer-inner {
    padding-bottom: 0.5em;
}

code {
    padding: 0;
    background-color: unset;
    border-radius: 0;
    font-size: 100%;
}
pre {
    background-color: unset;
    padding: 0;
    font-size: 100%;
    line-height: $lineHeight;
}

.anchor-link {
    transform: translate(-100%, -7%);
    font-family: 'Noto Serif SC', serif;
}
.indent .anchor-link {
    display: none;
}

h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1em;
}
.list-year {
    font-size: 1.8em;
}
.list-month {
    font-size: 1.6em;
}

.tag-cloud {
    width: 42em;
    margin: 0 -3em;
}

.post-nav {
    margin: 9em -6em -6em;
    border: none;
}

@media (max-width: ($postWidth + 5 + 12) * $fontSize) {
    body {
        background-color: #fcfaf2;
        font-size: 16px;
    }
    .list-item ::before {
        border-color: #fcfaf2;
    }
    .menu, .back-to-top {
        background-color: #eee;
    }
    .single .main-inner {
        width: auto;
        margin-top: 0;
    }
    .single {
        padding-bottom: 15em;
    }
    .menu-item {
        margin: 0;
    }
    .post {
        padding: 0;
        margin: 0;
    }
    .anchor-link {
        position: relative;
        transform: translate(0, -7%);
    }
    .tag-cloud {
        width: auto;
        margin: 0;
    }
    .post-nav {
        display: none;
    }
}
