.home {
    font-family: 'glyph-correction', STShusong, 'Noto Serif SC', serif;
    h1 {
        font-family: 'glyph-correction', 'Noto Serif SC', serif;
    }
    .motto {
        font-family: 'glyph-correction', STKaiti, 'Noto Serif SC', serif;
    }
    .keywords {
        font-size: 90%;
        font-family: 'glyph-correction', STFangsong, 'Noto Serif SC', serif;
    }
}

sup {
    font-family: 'glyph-correction', 'Source Code Pro', 'Noto Serif SC', monospace;
}

h1, h2, h3, h4, h5, h6, th, dt {
    font-weight: normal;
}

[data-type="poetry"], [data-type="aphorism"] {
    .post-body {
        p {
            font-family: 'glyph-correction', 'Long Cang', 'Noto Serif SC', serif;
            font-size: 125%;
        }
        sup {
            font-size: 50%;
        }
    }
    .caption {
        font-size: 75%;
    }
}

.tag-cloud-item {
    font-family: 'glyph-correction', 'Long Cang', 'Noto Serif SC', serif;
}

body, .back-to-top, ::-webkit-scrollbar-track {
    background-color: #eceff1;
}
.list-item ::before {
    border-color: #eceff1;
}

.main {
    padding-top: 5em;
}
.single {
    padding-bottom: 14em;
}

.menu {
    font-size: 85%;
    padding: 0.3em 0 0.1em;
    background-color: #fff;
}

.menu-item {
    margin: 0 1.618em;
}

.single .main-inner {
    margin-top: 7em;
}
.list-group {
    margin-top: -2em;
}
.post-title {
    margin-top: 0;
}
.post-body {
    margin-top: 3em !important;
}
.post-share {
    margin-top: ($fontSize * 12);
}

.post {
    background-color: #fcfaf2;
    padding: 6em;
    margin: -6em;
}

.back-to-top {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5.6em;
    font-size: 80%;
    a {
        padding: 0.5em;
    }
}

.footer {
    color: #ccc;
    background-color: #000;
    font-size: 80%;
    a {
        color: #ccc;
        &:hover {
            color: #999;
        }
    }
}
.footer-inner {
    padding: 2em 2em 2em 2.2em;
}

code {
    padding: 0;
    background-color: unset;
    border-radius: 0;
    font-size: 100%;
}
pre {
    background-color: unset;
    padding: 0;
    font-size: 100%;
    line-height: $lineHeight;
}

.tag-cloud {
    width: 42em;
    margin: 0 -3em;
}

@media (max-width: $maxWidth) {
    body {
        background-color: #fcfaf2;
        font-size: 16px;
    }
    ::-webkit-scrollbar-track {
        background-color: #fcfaf2;
    }
    .list-item ::before {
        border-color: #fcfaf2;
    }
    .menu, .back-to-top {
        background-color: #eee;
    }
    .single .main-inner {
        width: auto;
        margin-top: 0;
    }
    .single {
        padding-bottom: 15em;
    }
    .menu-item {
        margin: 0;
    }
    .post {
        padding: 0;
        margin: 0;
    }
    .tag-cloud {
        width: auto;
        margin: 0;
    }
    .post-share {
        margin-top: ($fontSize * 5);
    }
}
