// https://github.com/ichitenfont/I.Ming
@font-face {
    font-family: 'I.MingCP';
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/yixiuer/yixiuer.me/static/fonts/I.MingCP-8.10.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.home {
    font-family: 'Noto Serif TC', serif;
    .avatar {
        transition: none; // Disable rotate transform temporarily due to unkonwn brightness bug in Chromium (Yes not in Safari)
    }
    .motto {
        font-family: 'LXGW WenKai TC', cursive;
    }
    .description {
        font-family: 'I.MingCP', serif;
    }
    .keywords {
        font-family: 'LXGW WenKai TC', cursive;
    }
    .links {
        font-weight: 500;
        font-variant: small-caps;
    }
}

sup {
    font-family: monospace;
}
.emphasis-point {
    font-family: 'I.MingCP', serif;
}
blockquote .emphasis-point {
    font-family: $fontFamilyQuote;
}

[data-type="poetry"], [data-type="aphorism"] {
    .post-body {
        font-family: 'glyph-correction', 'LXGW WenKai TC', cursive;
        font-size: 125%;

        sup {
            font-size: 50%;
        }
    }
    .caption {
        font-size: 75%;
        margin: -2em 0 0;
    }
}

.tag-cloud {
    width: 42em;
    margin: 0 -3em;
}
.tag-cloud-item {
    font-family: 'glyph-correction', 'LXGW WenKai TC', cursive;
}

body, .back-to-top, ::-webkit-scrollbar-track {
    background-color: #eceff1;
}
.list-item ::before {
    border-color: #eceff1;
}

.list-year {
    font-family: 'I.MingCP', serif;
    font-weight: normal;
}

.main {
    padding-top: 5em;
}
.single {
    padding-bottom: 22em;
}

.menu {
    font-size: 85%;
    padding: 0.1em 0 0.3em;
    background-color: #fff;
}

.menu-item {
    margin: 0 1.618em;
}

.single .main-inner {
    margin-top: 7em;
}
.list-group {
    margin-top: -2em;
}
.post-title {
    margin-top: 0;
}
.post-body {
    margin-top: 3em !important;
}

.post {
    background-color: #fcfaf2;
    padding: 6em;
    margin: -6em;
}

.back-to-top {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5.6em;
    font-size: 80%;
    a {
        padding: 0.5em;
    }
}

.footer {
    color: #ccc;
    background-color: #000;
    font-size: 80%;
}
.footer-inner {
    padding: 2em 2em 2em 1.42em;
}
.copyleft-symbol {
    position: relative;
    top: 0.05em;
}

code {
    padding: 0;
    background-color: unset;
    font-size: 1em !important;
}
pre {
    background-color: unset;
    padding: 0;
    font-size: 1em;
    line-height: $lineHeight;
}

@media (max-width: $maxWidth) {
    .home {
        font-size: 16px;
    }
    body {
        background-color: #fcfaf2;
    }
    ::-webkit-scrollbar-track {
        background-color: #fcfaf2;
    }
    .list-item ::before {
        border-color: #fcfaf2;
    }
    .menu, .back-to-top {
        background-color: #eee;
    }
    .single .main-inner {
        width: auto;
        margin-top: 0;
    }
    .single {
        padding-bottom: 15em;
    }
    .menu-item {
        margin: 0;
    }
    .post {
        padding: 0;
        margin: 0;
    }
    .tag-cloud {
        width: auto;
        margin: 0;
    }
    #back-to-top {
        display: block;
    }
}
